* {
  margin: 0;
  padding: 0;
}

.menu {
  display: none;
}

.close {
  display: none;
}

.nav-header {
  background: #272a31;
  color: #fff;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 230px;
  font-family: sans-serif;
  justify-content: flex-end;
}

.nav-icons {
  margin-right: 30px;
}

.nav-header-list li {
  float: left;
  margin: 0 10px;
  list-style: none;
}

.nav-icons:hover {
  color: #ec5242;
  cursor: pointer;
}

.nav-header-list li:hover {
  cursor: pointer;
  color: #ec5242;
}

.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 1px 1px #dbdbdb;
  padding: 10px 0;
  font-family: sans-serif;
}

.logo a {
  color: #ec5242;
  text-decoration: none;
}

.btn-header {
  color: #ec5242;
  background-color: #fff;
  padding: 5px;
  border: 5px solid #ec5242;
}

.bg-main {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  text-align: center;
  background-color: #dbdbdb;
}

.bg-main::before {
  content: "";
  background: url("./images/bg-.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}

.main {
  position: relative;
  color: #ec5242;
}

.welcome-heading {
  font-size: 30px;
}

.main h1 {
  font-size: 50px;
}

.heading-desc {
  width: 50%;
  color: #000;
  background: #fff;
  border: 1px solid rgb(218, 218, 218);
  padding: 50px 20px;
  margin: 50px 300px;
  text-align: center;
}

.partners {
  color: #000;
}

.page-logo {
  padding: 50px 20px;
  text-align: center;
  margin: auto 25%;
}

.logo-title {
  font-size: 30px;
  font-family: sans-serif;
  border-bottom: 1px solid #ec5242;
  padding-bottom: 10px;
}

.logo-text {
  color: #272a31;
  margin: 30px 0;
}

.logo-container {
  border: 2px solid #e6e6e6;
  padding: 50px 0;
  margin: 0 50px;
}

.past-games {
  padding: 50px 20px;
  text-align: center;
  margin: auto 25%;
}

.past-games-title {
  font-size: 30px;
  font-family: sans-serif;
  border-bottom: 1px solid #ec5242;
  padding-bottom: 10px;
}

.take-look {
  margin-top: 30px;
}

.past-competitions {
  display: flex;
}

.games-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  width: 300px;
  margin-right: 20px;
}

.games-container::before {
  content: "";
  background: #464646;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.year {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.games-container p {
  position: relative;
}

.footer {
  margin-top: 50px;
  padding: 50px 0;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
  background-color: #272a31;
  color: #fff;
}
